{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}

{% block page_title %}{{ 'Kimai Browser Plugin'|trans }}{% endblock %}

{% block main %}

    <div>
        Install this browser plugin to access this Kimai from you browser:
        <a href="{{ path('kimai-browser-plugin-download') }}">KimaiBrowserPlugin.crx</a>
    </div>

    <div>
        If you want to make it better the repo is here
        <a href="https://github.com/tobybatch/kimai-browser-plugin">https://github.com/tobybatch/kimai-browser-plugin</a>
    </div>
{% endblock %}
